body {
    font-family: 'Open Sans';
    font-size: 15px;
    text-align: center;
    margin: 0px;
}

.hero {
    width: 562px;
    margin: auto
    ;
}

#imgTopoViagem {
    margin: 100px 100px 0px 100px;
}

h1 {
    font-family: dosis;
    color: #3F3D56;
    font-size: 32px;
    margin-bottom: 32px;
}

span {
    color: #3F3D56;
    font-weight: bold;
}

p {
    width: 500;
    color: #828282;    
}

#destino{
    color: #ee24ff;
}

p span {
    color: #3F3D56;
    font-weight: 700px;
}

footer {
    text-align: center;
    padding-top: 100px;
}

.line {
    width: 391px;
    height: 0;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}

a {
    text-decoration: none;
    color: #3F3D56;
    font-weight: bold;
    font-size: 15px;
    padding: 25px;
}

#imgOnda {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
}